.top {
  background-color: hsl(12, 88%, 59%);
  padding: 6rem 1.5rem;
  position: relative;
  overflow: hidden;
}

.top > div {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top h2 {
  color: hsl(0, 0%, 100%);
  font-size: 2.3rem;
  margin-bottom: 1.5rem;
}

.top .btn {
  background-color: hsl(0, 0%, 100%);
  color: hsl(12, 88%, 59%);
  width: 8.5rem;
  height: 2.8rem;
  border-radius: 5rem;
  border: none;
  outline: none;
  font: inherit;
  font-size: 0.8rem;
  font-weight: 500;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.top .svg1 {
  position: absolute;
  left: 0;
}

.top .svg2 {
  display: none;
}

.bottom {
  background-color: hsl(233, 12%, 13%);
  color: hsl(0, 0%, 100%);
  padding: 3rem 1.5rem 2rem 1.5rem;
  text-align: center;
}

.form {
  width: 100%;
  max-width: 22rem;
  margin-inline: auto;
  display: grid;
  grid-template-columns: calc(74% - 0.25rem) calc(26% - 0.25rem);
  column-gap: 0.5rem;
  margin-bottom: 3.6rem;
  position: relative;
}

.form input,
.form .btn2 {
  height: 2.8rem;
  border-radius: 5rem;
  border: none;
  outline: none;
  font: inherit;
  cursor: pointer;
}

.form input {
  padding-left: 1.5rem;
  font-size: 0.72rem;
}

.form .btn2 {
  background-color: hsl(12, 88%, 59%);
  color: hsl(0, 0%, 100%);
  font-size: 0.72rem;
  font-weight: 500;
  text-transform: uppercase;
}

.form input ~ p {
  display: none;
}

.form .error {
  color: hsl(0, 80%, 41%);
}

.form .error ~ p {
  display: block;
  color: hsl(0, 80%, 41%);
  font-size: 0.65rem;
  position: absolute;
  left: 1.5rem;
  bottom: -1.3rem;
}

.bottom ul {
  list-style: none;
}

.links {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 6.5rem;
  margin-bottom: 3rem;
}

.links ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.links a {
  color: hsl(0, 0%, 100%);
  font-size: 0.86rem;
  text-decoration: none;
  cursor: pointer;
}

.socials {
  width: 100%;
  max-width: 22rem;
  margin-inline: auto;
  padding-inline: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.6rem;
}

.socials li a {
  display: block;
  cursor: pointer;
}

.socials li svg {
  width: 2.1rem;
  height: 2rem;
}

.socials li svg path {
  scale: 1.6;
  transform-origin: top left;
}

.bottom > div > svg {
  margin-bottom: 3rem;
}

.bottom > div > p {
  color: hsl(227, 12%, 61%);
  font-size: 0.72rem;
}

@media (max-width: 20rem) {
  .bottom {
    padding: 3rem 1rem 2rem 1rem;
  }
  .form input {
    padding-left: 0.8rem;
    font-size: 0.65rem;
  }
  .form .error ~ p {
    left: 0.8rem;
  }
  .links {
    gap: 10%;
  }
  .socials li svg {
    width: 1.4rem;
    height: 1.4rem;
  }
  .socials li svg path {
    scale: 1;
    transform-origin: top left;
  }
}

@media (min-width: 53rem) {
  .top {
    padding: 4rem 2.5rem;
  }
  .top > div {
    max-width: 68.5rem;
    margin-inline: auto;
    flex-direction: row;
    justify-content: space-between;
    text-align: start;
  }
  .top h2 {
    max-width: 28rem;
    font-size: 2.3rem;
    margin-bottom: 0;
  }
  .top .svg1 {
    display: none;
  }
  .top .svg2 {
    display: block;
    position: absolute;
    left: 15%;
    top: -8rem;
    pointer-events: none;
  }
  .bottom {
    padding: 4rem 2.5rem 3rem 2.5rem;
  }
  .bottom > div {
    max-width: 68.5rem;
    margin-inline: auto;
    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
      "logo links form"
      "socials links license";
  }
  .bottom > div > svg {
    grid-area: logo;
    margin: 0;
  }
  .links {
    grid-area: links;
    justify-content: center;
    gap: 20%;
    margin: 0;
    padding-left: 1.5rem;
  }
  .links ul {
    gap: 0.8rem;
  }
  .form {
    height: fit-content;
    width: 17rem;
    margin: 0;
    margin-left: auto;
    grid-area: form;
  }
  .socials {
    grid-area: socials;
    height: fit-content;
    justify-content: flex-start;
    gap: 0.7rem;
    padding: 0;
    margin: 0;
    margin-top: auto;
  }
  .socials li svg {
    width: 1.4rem;
    height: 1.4rem;
  }
  .socials li svg path {
    scale: 1;
    transform-origin: top left;
  }
  .bottom > div > p {
    grid-area: license;
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-top: auto;
  }
}

@media (min-width: 65rem) {
  .links {
    justify-content: flex-end;
    gap: 54%;
  }
}
