@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  min-height: 100vh;
  background-image: url("images/bg-tablet-pattern.svg");
  background-position: top -7.5rem right -8.5rem;
  background-size: 28.5rem 28.5rem;
  background-repeat: no-repeat;
}
